<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "classpath:org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.example.attendanceevent.mapper.UserMapper">

    <select id="findByLoginId" resultType="com.example.attendanceevent.dto.User">
        /* 로그인 아이디로 유저 정보 조회*/
        SELECT id, login_id, password, user_name
        FROM users
        WHERE login_id = #{loginId}
    </select>

</mapper>